.mask-effect {
  background-color: var(--color-accent);
  content: "";
  position: absolute;
  inset: 0;
}

.card {
  animation: show-vertical 0.4s ease-out;
  background-color: var(--color-card-bg);
  border-radius: 0.5rem;
  text-align: center;
  overflow: hidden;
  width: min(100%, 22.5rem);

  &__header {
    position: relative;

    &::before {
      .mask-effect();
      mix-blend-mode: multiply;
    }

    &::after {
      .mask-effect();
      opacity: 0.25;
    }
  }

  &__content {
    --sv-x: -1rem;
    padding: 2.625rem 1.875rem 2.1875rem;
  }

  &__title {
    animation: show-vertical 0.35s ease 0.16s forwards;
    color: var(--color-main-heading);
    font-size: 1.875rem;
    font-family: @font-inter;
    line-height: 1;
    margin-bottom: 1.25rem;
    opacity: 0;
  }

  &__accent {
    color: var(--color-accent);
  }

  &__description {
    animation: show-vertical 0.35s ease 0.32s forwards;
    color: var(--color-main-paragraph);
    font-family: @font-inter;
    font-size: 0.9437rem;
    font-weight: 400;
    line-height: 1.65;
    margin-bottom: 2.5rem;
    opacity: 0;
  }

  &__banner {
    display: block;
    height: 15rem;
    object-fit: cover;
    width: 100%;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
  }

  @media screen and (min-width: 64rem) {
    display: flex;
    max-width: 69.375rem;
    width: 100%;

    &__header {
      order: 1;
    }

    &__banner {
      height: 100%;
    }

    &__content {
      max-width: 51.5%;
      padding: 4.5rem 7.1875rem 3rem 4.5rem;
      text-align: left;
    }

    &__title {
      font-size: min(2.4rem, 3vw);
      line-height: 1.1;
      margin-bottom: 1.6875rem;
    }

    &__description {
      margin-bottom: 4.375rem;
    }

    &__stats {
      flex-direction: row;
      justify-content: left;
      gap: 3.875rem;
    }
  }
}
