.card {
  background-color: var(--color-card-bg);
  text-align: center;

  &__content {
    padding: 1.875rem;
    padding-top: 2.625rem;
  }

  &__title {
    color: var(--color-main-heading);
    font-size: 1.875rem;
    font-family: @font-inter;
    line-height: 1;
    margin-bottom: 1.25rem;
  }

  &__accent {
    color: var(--color-accent);
  }

  &__description {
    color: var(--color-main-paragraph);
    font-family: @font-inter;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 2.5rem;
  }

  &__banner {
    display: block;
    height: 15rem;
    object-fit: cover;
    width: 100%;
  }
}
