.card {
  background-color: var(--color-card-bg);
  text-align: center;

  &__title {
    font-size: 1.875rem;
    font-family: @font-inter;
    line-height: 1;
  }

  &__banner {
    display: block;
    height: 15rem;
    object-fit: cover;
    width: 100%;
  }
}
