.stat {
  &__value {
    color: var(--color-stat-value);
    display: block;
    font-weight: 800;
    font-family: @font-inter;
    font-size: 1.5rem;
    letter-spacing: 0.0625rem;
  }

  &__description {
    color: var(--color-stat-description);
    font-family: @font-lexend;
    font-size: 0.75rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
  }
}
