.stat {
  &__value {
    color: var(--color-stat-value);
    display: block;
    font-weight: 800;
    font-family: @font-inter;
  }

  &__description {
    font-family: @font-lexend;
    text-transform: uppercase;
  }
}
